.Verse {
  display: flex;
  align-items: flex-start;
}

.LineNumbers {
  min-width: 20px;
  margin-right: 2em;

  &.empty {
    width: 20px;
    align-self: stretch;
  }

  & > p {
    text-align: right;
    user-select: none;
    margin: 0;
  }
}

.Line {
  display: block;
  white-space: pre-wrap;
  text-align: left;
  text-indent: -3em;
  padding-left: 3em;
  margin: 0;
}
